<ion-content class="card-background-page">

  <ion-card>
    <img src="https://statig3.akamaized.net/bancodeimagens/9a/8q/bf/9a8qbfjh8n7h2vk1s49kmpdz9.jpg"/>
    <h1>Incêndio atinge alojamento do Bangu, na Zona Oeste do Rio</h1>
    <p>Segundo a assessoria de imprensa do Bangu, os casos não são graves e dois deles devem ser liberados ainda nesta segunda. O terceiro foi encaminhado para o CTI por precaução por ter inalado mais fumaça.

    </p>
    <div class="card-title"></div>
    <div class="card-subtitle"></div>
  </ion-card>

  <ion-card>
    <img src="https://abrilveja.files.wordpress.com/2019/02/brasil-incendio-ct-flamengo-20190208-001.jpg"/>
    <h1>Ministério Público promete "varredura" em CTs de clubes do Rio</h1>
    <p>Depois da tragédia que vitimou 10 jovens atletas da base do Flamengo, em um incêndio no alojamento do Ninho do Urubu, na última sexta-feira (08), um grande “jogo de empurra” passou a acontecer para saber os responsáveis pelo ocorrido.</p>
    <p>Nesta segunda-feira (11), em reunião com a diretoria do Flamengo, defesa civil e prefeitura do Rio de Janeiro, o Ministério Público prometeu que irá fazer uma varredura em outros centros de treinamento de clubes da cidade para apurar, principalmente, as condições de trabalho dos locais. O clube rubro-negro agendou a vistoria dos órgãos técnicos para esta terça-feira (12).</p>
    <div class="card-title"></div>
    <div class="card-subtitle"></div>
  </ion-card>

  <ion-card>
    <img src="https://odia.ig.com.br/_midias/jpg/2019/02/10/700x470/1_paqueta-9628114.jpg"/>
    <h1>Paquetá lamenta tragédia no Flamengo após homenagem em comemoração de primeiro gol no Milan</h1>
    <p>"Dedico esse gol aos dez que se foram, aos outros 16 que se salvaram e a cada família. Toda a minha solidariedade e meus sentimentos. A dor é enorme, mas que Deus possa confortá-los", completou.</p>
    <div class="card-title"></div>
    <div class="card-subtitle"></div>
  </ion-card>

  <ion-card>
    <img src="https://odia.ig.com.br/_midias/jpg/2019/02/05/700x470/1_dt1g7833-9556330.jpg"/>
    <h1>Chegada de Ganso pode aproximar Fluminense de novo patrocinador</h1>
    <p>
      Segundo informação do Globoesporte.com, a diretoria do Flu tem tratativas com ‘mais de uma empresa’ para estampar sua marca no uniforme do clube. O espaço principal da camisa está sem dono desde a saída da Valle Express, em meados de 2018. O clube espera que, até março, o novo patrocinador seja definido.
    </p>
    <div class="card-title"></div>
    <div class="card-subtitle"></div>
  </ion-card>
  
  <ion-card>
    <img src="https://www.lance.com.br/files/article_main/uploads/2019/02/07/5c5b919a79ad7.jpeg"/>
    <h1>Confira alguns motivos para confiar na classificação do Botafogo</h1>
    <p>
      Após um mau começo de temporada, o Alvinegro se recuperou nas últimas partidas e bateu o Boavista por 3 a 0, fora de casa, e o Defensa Y Justicia por 1 a 0, na estreia do time na Sul-Americana. O bom momento coletivo também se reflete em alguns jogadores: o atacante Erik e o lateral-esquerdo Jonathan são alguns dos exemplos. 
    </p>
    <div class="card-title"></div>
    <div class="card-subtitle"></div>
  </ion-card>

</ion-content>