<ion-list>
  <ion-list-header>
    futebol internacional 
  </ion-list-header>
  <ion-item>Milan  <ion-icon name="football"></ion-icon>  </ion-item> 
  <ion-item>Juventus  <ion-icon name="football"></ion-icon></ion-item>
  <ion-item>Roma  <ion-icon name="football"></ion-icon></ion-item>
  <ion-item>Chelsea  <ion-icon name="football"></ion-icon></ion-item>
  <ion-item>Manster citty  <ion-icon name="football"></ion-icon></ion-item>
  <ion-item>Porto  <ion-icon name="football"></ion-icon></ion-item>
  <ion-item>Servilha  <ion-icon name="football"></ion-icon></ion-item>
  
  
</ion-list>